<div class="item-header item-grid">
    <span class="item-col-name">Name</span>
    <span class="item-col">Size</span>
    <span class="item-col">Created</span>
</div>

<% if (locals.items?.length > 0) { %>
  <% locals.items.forEach((item) => { %>
    <% const type = item.type;
      const action =
        type === "FOLDER"
          ? `href=/dashboard/${item.id}`
          : `data-dialog="open file-dialog"`;
      const created = helpers.formatDate(item.createdAt);
      const size = item.size ? helpers.formatBytes(item.size) : "--";
      const iconName = type === "FOLDER" ? "folder" : helpers.getFileIcon(item.mimeType);
    %>
    
    <wa-button 
      appearance="outlined" 
      <%- action %> 
      href="javascript:void(0);" 
      class="item"
      data-id="<%= item.id %>";
      data-name="<%= item.name %>";
      data-size="<%= size %>";
      data-created="<%= created %>";
      data-type="<%= type %>"
    >
      <span class="item-grid">
        <span class="item-col-name">
          <wa-icon name="<%= iconName %>"></wa-icon>
          <p><%= item.name %></p>
        </span>
        <span class="item-col"><%= size %></span>
        <span class="item-col"><%= created %></span>
      </span>
    </wa-button>
  <% }); %>
<% } else { %>
  <% if (folderId === undefined) { %>
    <p class="no-items-text wa-color-text-quiet">No items yet. Upload a file or create a folder to get started.</p>
    <% } else {%>
    <p class="no-items-text wa-color-text-quiet">Folder is empty.</p>
  <% } %>
<% } %>