<%- include("partials/header") %>

<%- include("partials/sidebar") %>

<div class="main-header" slot="main-header">
  <%- include("partials/breadcrumbs") %>
</div>

<main><%- include("partials/item-display") %></main>

<%- include("partials/alert") %>

<%- include("partials/dialogs") %>

<%- include("partials/footer") %>
