<%- include("partials/header") %>

<nav slot="navigation-header">
  <wa-button appearance="outlined" variant="brand" id="new-folder-btn" data-dialog="open new-folder-dialog" size="s">
    <wa-icon name="folder-plus"></wa-icon>
    New Folder
  </wa-button>
  <wa-button appearance="outlined" variant="brand" id="new-file-btn" data-dialog="open new-file-dialog" size="s">
    <wa-icon name="file-circle-plus"></wa-icon>
    New File
  </wa-button>
</nav>

<nav slot="navigation"></nav>

<main>
  <div class="item-header item-grid">
    <span class="item-col-name">Name</span>
    <span class="item-col">Size</span>
    <span class="item-col">Updated</span>
  </div>

  <% if (locals.items?.length > 0) { %>
    <% locals.items.forEach((item) => { %>
      <%- include("partials/item", { item }) %>
    <% }); %>
  <% } else { %>
    <p class="no-items-text wa-color-text-quiet">No items yet. Upload a file or create a folder to get started.</p>
  <% } %>
</main>

<%- include("partials/new-folder-dialog") %>
<%- include("partials/new-file-dialog") %>

<%- include("partials/footer") %>
